{% extends 'display/base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Home{% endblock title %}</title>
</head>
  <body>
    {% block content %}
    <div class="mt-3 ml-3">
      <h1>STOCK INFO</h1>
        <p>
        {% for dictionary in accessor_stock %}
          {% for item in dictionary.results %}
            Name : {{ item.company.company_name }} | Num_transactions : {{ item.number_of_transactions }} |
            Max: {{ item.maximum }} | Min: {{ item.minimum }} | Closing: {{ item.closing }} | 
            Traded: {{ item.traded_shares }} | Amount: {{ item.amount }} | Prev_Closing: {{ item.amount }} |
            Diff_Rs: {{ item.difference_rs }} | Date_Added: {{ item.date_added }} 
        <br>
          {% endfor %}
        {% endfor %}
        </p>
        <h1>COMPANY INFO</h1>
        <p>
        {% for dictionary in accessor_company %}
          {% for item in dictionary.results %}
            CompanyID: {{ item.company_id }} | Company_Name: {{ item.company_name }} 
        <br>
          {% endfor %}
        {% endfor %}
        </p>
      </div>
      {% endblock content %}
  </body>
</html>


