{% extends 'display/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Home{% endblock title %}</title>

  {% block styles %}
  <link rel="stylesheet" href="  https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
  <link rel="stylesheet" href="{% static 'display/vendor/css/home.css' %}">

  {% endblock styles %}
</head>

<body>
  {% block content %}
  <!--
          <h1>STOCK INFO</h1>
            <p>
            {% for dictionary in accessor_stock %}
              {% for item in dictionary.results %}
                Name : {{ item.company.company_name }} | Num_transactions : {{ item.number_of_transactions }} |
                Max: {{ item.maximum }} | Min: {{ item.minimum }} | Closing: {{ item.closing }} | 
                Traded: {{ item.traded_shares }} | Amount: {{ item.amount }} | Prev_Closing: {{ item.amount }} |
                Diff_Rs: {{ item.difference_rs }} | Date_Added: {{ item.date_added }} 
            <br>
              {% endfor %}
            {% endfor %}
            </p>
            <h1>COMPANY INFO</h1>
            <p>
            {% for dictionary in accessor_company %}
              {% for item in dictionary.results %}
                CompanyID: {{ item.company_id }} | Company_Name: {{ item.company_name }} 
            <br>
              {% endfor %}
            {% endfor %}
            </p>
            -->
  <!-- 
    Stock filtration frontend. It has radio buttons for different types of filter. 
    Filter by company unhides the 'group' div which has the company name input box, and the 
    other filters unhide the bootstrap datepicker object. 
  -->
  <div class="row align-items-center">
    <div class="col-sm">
      <section class="light">

        <h2>Select stocks by</h2>
        <div>
          <label id="label_company">
            <input class="radio_button" type="radio" name="light">
            <span class="design"></span>
            <span class="text">Company</span>
          </label>

          <label id="label_transaction">
            <input class="radio_button" type="radio" name="light">
            <span class="design"></span>
            <span class="text">Maximum Transaction Amount</span>
          </label>

          <label id="label_increase">
            <input class="radio_button" type="radio" name="light">
            <span class="design"></span>
            <span class="text">Maximum Pecent Increase</span>
          </label>
          <label id="label_decrease">
            <input class="radio_button" type="radio" name="light">
            <span class="design"></span>
            <span class="text">Maximum Pecent Decrease</span>
          </label>
        </div>
      </section>
    </div>
    <!-- Add dates/search boxes to this div -->
    <div class="col-sm d-flex">
      <form method="GET" class="d-flex flex-column">
        <div class="p-2">
          <div class="group" style="display: none;">
            <input id="company" name="company" class='company' type="text" autocomplete="off">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="company_label">Company Name</label>
          </div>

          <div class="input-group input-daterange" id="date_picker" style="display: none;">
            <input id="start" name="start-date" type="text" class="form_input form-control input1"
            placeholder="Start Date" autocomplete="off">
            <input id="end" name="end-date" type="text" class="form_input form-control input2"
            placeholder="End Date" autocomplete="off">
          </div>
          </div>
          <div class="p-2">
            <button type="submit" id="filter_button" style="display: none;" type="button" class="btn btn-outline-primary">Filter</button>
          </div>
    </form>

  </div>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <script>

    // Initializing the Bootstrap datepicker and adding event listeners/styling options to it 
    $(document).ready(function () {
      $('.input-daterange').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        orientation: 'top',
        clearBtn: true,
        todayHighlight: true, 
      }).on('show', function(e) {
        $('#filter_button').css('visibility', 'hidden')
      }).on('hide', function(e) {
        $('#filter_button').css('visibility', 'visible')
      });
    });


    /* 
     * A bunch of jQuery options to hide and unhide different filter elements on click. It also
     * disables some form inputs while enabling others because I have used the same form for the 
     * two different GET query parameters (sorting by date and sorting by company).
    */

    $('#label_company input:radio').click(function () {
      $('#date_picker').hide()

      $('#company').removeAttr('disabled');
      $('#start').attr('disabled', 'disabled')
      $('#end').attr('disabled', 'disabled')

      $('.group').show()
      $('#filter_button').show()
    });
    $('#label_transaction input:radio').click(function () {
      $('.group').hide()

      $('#start').removeAttr('disabled')
      $('#end').removeAttr('disabled')
      $('#company').attr('disabled', 'disabled');

      $('#date_picker').show()
      $('#filter_button').show()
    });
    $('#label_increase input:radio').click(function () {
      $('.group').hide()

      $('#start').removeAttr('disabled')
      $('#end').removeAttr('disabled')
      $('#company').attr('disabled', 'disabled');

      $('#date_picker').show()
      $('#filter_button').show()
    });
    $('#label_decrease input:radio').click(function () {
      $('.group').hide()

      $('#start').removeAttr('disabled')
      $('#end').removeAttr('disabled')
      $('#company').attr('disabled', 'disabled');

      $('#date_picker').show()
      $('#filter_button').show()
    });

  </script>

  {% endblock content %}


</body>

</html>